#myNav {
    overflow: auto;
    height: auto;
    width: 200px;
    position: fixed;
    padding-left: 10px;
    background-color: #ededed;
    z-index: 20;
}

.navMenuHeadings {
    font-size: 24px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

    .navMenuHeadings a {
        display: block;
        text-decoration: none;
        color: black;
    }

        .navMenuHeadings a:hover {
            text-decoration: none;
        }
    /*only affects immediate children of this class*/
    .navMenuHeadings > a:hover {
        color: brown;
    }

.myCustomNavItem a {
    display: block;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

    .myCustomNavItem a:hover {
        background-color: brown;
        color: white;
        text-decoration: none;
    }

#closeBttn {
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
}

    #closeBttn:hover {
        cursor: pointer;
        color: brown;
    }

nav i {
    cursor: pointer;
}

#subMenuCollection {
    display: none;
    margin-left: 15px;
}

    #subMenuCollection a {
        color: brown;
    }

        #subMenuCollection a:hover {
            background-color: grey;
            color: white;
            text-decoration: none;
        }

.myImageContainer {
    position: absolute;
    left: 190px;
    top: 0px;
}

.surroundSmallImagesBox {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
}

    .surroundSmallImagesBox img {
        cursor: pointer;
    }

#myBarIcon {
    font-size: 25px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
}

    #myBarIcon:hover, #myCartIcon:hover, #mySearchIcon:hover {
        cursor: pointer;
        color: brown;
    }

#positionCartSearchIcons {
    float: right;
    margin-right: 20px;
}

#myCartIcon {
    font-size: 25px;
    display: inline-block;
}

#mySearchIcon {
    font-size: 25px;
    display: inline-block;
    margin-left: 20px;
}

.myIcons {
    font-size: 12px;
}

.mySocialIcons {
    font-size: 18px;
    padding-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0px;
}

.surroundSmallImagesBox img {
    border-style: solid;
    border-color: white;
    border-width: 6px;
}

    .surroundSmallImagesBox img:hover {
        background-color: brown;
        padding: 5px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
    }

.itemName {
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding-left: 5px;
}

.itemPrice {
    font-size: 14px;
    font-weight: bold;
    color: grey;
    margin-top: -10px;
    margin-bottom: 20px;
    padding-left: 5px;
}

#hookMessage {
    position: absolute;
    left: 40px;
    top: 10px;
    z-index: 10;
    font-size: 48px;
    font-family: Arial, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
}

#hookMessageSub {
    position: absolute;
    left: 45px;
    top: 65px;
    z-index: 10;
    font-size: 20px;
    font-family: Arial, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
}

#shopNowButton {
    position: absolute;
    left: 45px;
    top: 150px;
    z-index: 10;
    font-size: 14px;
    font-family: Arial, Geneva, Tahoma, sans-serif;
    background-color: brown;
    border-style: none;
    padding: 10px 20px 10px 20px;
    color: white;
}

    #shopNowButton:hover {
        background-color: white;
        color: black;
    }

.subscribeBlock {
    background-color: black;
    color: white;
    padding: 10px 20px 20px 20px;
    height: 250px;
    width: 100%;
}

    .subscribeBlock input {
        padding: 5px;
        margin-bottom: 15px;
        width: 100%;
    }

    .subscribeBlock p {
        padding-top: 10px;
    }

    .subscribeBlock button {
        font-family: Arial;
        background-color: red;
        display: block;
        border-style: none;
        padding: 10px;
        color: white;
        width: 100px;
    }

        .subscribeBlock button:hover {
            background-color: antiquewhite;
            color: red;
            cursor: pointer;
        }

.container .contactBlock {
    margin-left: 0px;
}

.contactBlock {
    background-color: #d5d5d5;
    padding: 50px 10px 20px 10px;
    color: black;
    width: 100%;
}

    .contactBlock h4 {
        font-size: 16px;
        font-weight: bold;
    }

.contact p {
    font-size: 12px;
}

.contact {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

    .contact input {
        margin-bottom: 10px;
        width: 100%;
    }

    .contact button {
        font-family: Arial;
        display: block;
        border-style: none;
        margin-top: 10px;
        padding: 5px 20px 5px 20px;
        background-color: black;
        color: white;
        width: 100%;
    }

        .contact button:hover {
            color: white;
            background-color: #3d3d3d;
        }

.about {
    width: 100%;
    padding-left: 40%;
    text-align: left;
}

    .about a {
        color: black;
        text-decoration: underline;
    }

    .about p {
        font-size: 12px;
    }

    .about a:hover {
        color: brown;
    }

.store {
    width: 100%;
    padding-left: 10%;
    text-align: left;
}

    .store p {
        font-size: 12px;
    }

#footer {
    margin-top: 50px;
}
