<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>shoppingcart.juddwhitehead.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://shoppingcart.juddwhitehead.com:8172/MsDeploy.axd?site=jwhitehead-001-subsite2</MSDeployServiceURL>
    <DeployIisAppPath>jwhitehead-001-subsite2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\jwhitehead-001</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A31ED3_shoppingApp;User ID=DB_A31ED3_shoppingApp_admin;Password=nuCar33r!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="jwhiteheadShoppingApp.Models.ApplicationDbContext, jwhiteheadShoppingApp" MigrationConfiguration="jwhiteheadShoppingApp.Migrations.Configuration, jwhiteheadShoppingApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL7001.site4now.net;Initial Catalog=DB_A31ED3_shoppingApp;User ID=DB_A31ED3_shoppingApp_admin;Password=nuCar33r!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>