@model jwhiteheadShoppingApp.Models.CodeFirst.Order

@{
    ViewBag.Title = "Confirm";
}

<h2 style="display: inline-block">Thank you for your order!</h2>

<div>
    <h4>Your order has been submitted.</h4>
    <hr />
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
